body{
    background-color: #78B678;
}
.geral{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 80%;
    height: 100%;
}
h1{
    font-size: 18px;
}
.barra-pedido{
    height: 50px;
    margin-top: 100px;
    background-color: #d44545;
    color: white;
}

.descricao{
    height: 350px;
}
table{
    width: 90%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
.tabela{
    width: 100%;
}
.status{
    float: right;
    margin-right: 20px;
}
.nome{
    margin-left: 80px;
}
.id{
    margin-left: 30px;
}
label{
    font-size: 20px;
    margin-top: 1%;
    
}
.resumo{
    border: solid black 1px;
    height: 45%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
h6{
    margin-left: 1%;
    margin-top: 1%;
}
p{
    margin-left: 3%;
    font-size: 12px;
    color: grey;
}