/*-----------------------| Menu do Site |-----------------------------*/
  *{
    list-style:none;
    padding:0;
    margin:0;
    line-height: normal;
    font-size:18px;
  font-family: 'Times New Roman', Times, serif;
  }

  .menu{
    width:100%;
    height:50px;
    background-color:#8B0000;
    position: absolute;
  }
  
  .links_menu #pedir{
    color: #FFF; 
    float: left;
    padding: 15px 15px 14px 15px;
    background-color: #8B0000;
    border:none;
    font-family: 'Times New Roman', Times, serif;
  }
  .links_menu li a{
    color: #FFF; 
    float: left;
    padding: 15px 15px 14px 15px;
    background-color: #8B0000;
    text-decoration: none;
  }
  
  /* efeito  de " Visibilidade "*/
  .links_menu li a:hover{
    background-color: rgb(226, 0, 0);
  }
  #pedir:hover{
    background-color: rgb(226, 0, 0);
    cursor: pointer;
  }

  .seta{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 1px;
  }
  .baixo{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .direita{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  /*-----------------------------------------------------*/

  /*---------------| Formatação dos Botões Área Restrita |-------------------*/
  
  .links_top{
    float:right;
    padding: 10px;
    margin: 5px;
    background-color: #8B0000;
    color:#FFF;
    width: 100px;
    height: 25px;
    font-size: 18px;
    text-align: center;
  }
  
  /* efeito  de Visibilidade */
  .links_top:hover{  
    background-color:rgb(226, 0, 0);
  }
  
  /*------------------------| Fim do topo do site |----------------------*/
  /*------------------------| Drop Down|----------------------*/
  