.geral{
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    background-color:#78B678;
}
.pizzas,.bebidas{
    /*border: solid black 1px;*/
    width:95%;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
body{
    background-color: #78B678;
}
h1{
    text-align:center;
    margin-top: 2%;
    margin-bottom: 2%;
}
p{
    margin-left: 2%;
}