.sabores{
    margin-left: auto;
    margin-right: auto  ;
    width: 90%;
}
/*  */
body{
    background-color: #78B678;
}
h1{
    margin-top: 5%; 
    margin-left: auto;
    margin-right: auto;     
}
h1{
    margin-bottom: 5%;
}

.tamanhos{
    background-color: white;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    margin-top: 2%;
}

h3{
    float: left;
    transform: translateY(80%);
}
table{
    float: right;
}

.container{
    text-align: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: white;
}
.img{
    float: left;
    height: 100%;
}
/* ANTIGO CARD*/
.tamanhos{
    border-radius: 10px;

    /*-------------------------------| Sombra |-------------------------------*/
    -webkit-box-shadow: 8px 8px 17px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    8px 8px 17px 0px rgba(0, 0, 0, 1);
    box-shadow:         8px 8px 17px 0px rgba(0, 0, 0, 1);
    /*------------------------------------------------------------------------*/
}

.div_nome{
    padding: 10px 0px 0px 10px ;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
}

.div_desc{
    padding: 5px 0px 10px 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
}

.div_preco{
    padding: 20px 10px 10px 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    
}
