*{
    font-size:14px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #78B678;
    height: 100%;
}

hr{
    color: black;
}
.preco{
    text-align: right;
}

.form-check-input{  
    background-color: #dc3444;
    color: white;
}
.form-check-input:checked{
    background-color: #1c8454;
}
.btn-danger{
    margin: 3%;
}
input[type=number]{
    width: 50px;
}

.geral{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto; 
    background-color: white;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
input{
    margin: 10px;
    padding: 6px;
}
.tabelas{
    width: 95%;
}
h1{
    margin-top: 10%;
}