body{
    background-color: #78B678;
}
.geral{
 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 1000px;
    background-color: white;
    
}
h1{
    text-align: center;
}

#tabela{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 3px;
    width: 90%;
    margin-bottom: 10%;
}
