/*---------------------------| Formação do SITE  |---------------------------*/
/*===========================================================================*/
/*---------------------------------------------------------------------------*/

  *{
    padding:0;
    margin:0;
    font-size:18px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration:none;
    color:#333;
    }
    
    
  /*---------------------------------------------------------------------*/
  /*---------------------------| Body Geral  |---------------------------*/
    
    body{
      background-color: #78B678;
    }

  /*----------------------| Fim do Body Geral  |-------------------------*/
  /*---------------------------------------------------------------------*/
  
  

  #geral{
    height:auto;
    overflow:hidden;
    margin:0 auto;
  }

  /*---------------------------------------------------------------------*/
  /*---------------------------| Topo do Site  |-------------------------*/
  
  #topo{
    width:100%;
    height:200px;
    float:left;
    background-color: #78B678;
    margin-top: 50px;
  }

  .logo{
    widows: 2000px;
    height: auto;
    float:left;
    margin: 20px;
  }

  /*---------------------| Fim do Topo do Site  |------------------------*/

  /*---------------------| Div Escondida |-------------------------*/



  
  /*---------------------------------------------------------------*/

  /*---------------------------| Conteudo do Site |----------------------*/
  #conteudo{
    width:100%;
    min-height:600px;
    float:left;
    background-color: #78B678;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #conteudo_onde{
    text-align: center;
    align-items: center;
    background-color: white;
    width: 80%;
    min-height: 400px; 
    float: left;
    margin: 20px 10px;
    border: 2px solid rgb(0, 0, 0);
  }

  .titulo_onde{
    font-size: 32px;
  }
  .endereco{
    font-size: 16px;
    position: absolute;
    margin-top: 64px;

  }

  #maps{
    float: center;
  }

  #conteudo_principal{
    width: 80%;
    max-height: 650px;
    float: left;
    border: 2px solid #000000;
    margin: 20px 10px;
    background-color: white;
  }

  #dropdown-item{
    width: 100%;
    color:white;  
  }
  #banner{
    background-color: transparent; 
    border: none;
  }
  #setinha:hover{
    background-color: transparent; 
  }

  /*------------------| Fim do Conteudo do Site |------------------------*/
  /*---------------------------------------------------------------------*/
 
  
  
