body{
    background-color: #78B678;
}
.geral{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pizza, .titulo{
    text-align: center;
    
}

.bebida{
    margin-top: -35%;
    margin-left: 10%;
  
}

.pizza, .bebida{

    /*margin-bottom: 10%;*/

    width: 400px;
    background-color: #fff;
    text-align: left;
    border: solid black 1px;
}
.tamanho{
    height: 100px;
}
    .btn1{
    background-color: #78B678;
    border: solid #78B678 1px;
    border-radius: 10px;
    margin-top: -30px;
    margin-right: 5%;
    color: white;
    float: right;
    width: 100px;
    height: 30px;   
}
.titulo{
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-bottom: 5%;
}

h2{
    font-size: 20px;
    margin-left: 5%;
   
}
p{
    margin-left: 5%;
    font-size: 22px;
}

#btnCarrinho{
    position: fixed;
    bottom: 25px;
    right: 10px; 
    padding: 20px;
    height: 70px;
}

.saboresCarrinho{
  font-size: 12px;
  color: gray;  
  margin-bottom: 0;
}
.qtde{
    width: 20px;
    text-align: center;
}

input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }
  a{
      list-style: none;
    
  }