.cabecalho{
    border: solid black 1px;
    margin-top: 1.9%;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
body{
    background-color: #78B678;
}
.principal{
    background-color: white;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}
h1{
    margin-top: auto;
    margin-bottom: auto;
}
button{
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.vendas{
    float: left;
    margin-left: 8%;
}
.itens{
    float: right;
    margin-right: 8%;
}
.btnPDF{
    margin-left: 5%;
    margin-top: 1%;

}/*
select{
}*/
.conteudo{
    border: solid black 1px;
    width: 90%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
}
a{
    list-style: none;
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}